adal==0.3.0
bitcoin==1.1.42
cffi==1.5.2
click==6.6
colorama==0.3.3
cryptography==1.4
Django==1.10
django-jinja==2.2.1
django-pyodbc-azure==1.10.0.1
django-registration==2.1.2
djangorestframework==3.4.6
enum34==1.1.6
Flask==0.11.1
future==0.15.2
idna==2.1
ipaddress==1.0.16
itsdangerous==0.24
Jinja2==2.8
lxml==3.6.0
MarkupSafe==0.23
mutagen==1.30
Pillow==2.9.0
protobuf==2.6.1
pyasn1==0.1.9
pycoin==0.70
pycparser==2.14
PyJWT==1.4.1
pyodbc==3.0.10
pyspool==0.1.3
pyspotify==2.0.5
python-dateutil==2.5.3
requests==2.10.0
schedule==0.3.2
six==1.10.0
spotify-ripper==2.9.1
transactions==0.2.0
vboxapi==1.0
Werkzeug==0.11.10
wxPython==3.0.2.0
wxPython-common==3.0.2.0
